---
layout: default
---


<head>
  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <script src="js/modernizr.custom.js"></script>
</head>
<!-- <div class="home"> -->

    <div id="mainpage">

      <h2><img alt="bugdroid" style="margin-bottom: -8px !important;" src="../images/bugdroid.png">Welcome.</h2>
      <h3><a href="mailto:juliengenoud+contact@gmail.com">Contactez-moi</a><h3>
      <!-- <img style="width:350px !important; margin-bottom: -8px" alt="email julien genoud"
        src="../images/adress.png"> -->
    </div>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/imagesloaded.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/AnimOnScroll.js"></script>
    <script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
      minDuration : 0.4,
      maxDuration : 0.7,
      viewportFactor : 0.2
    } );
    </script>


  <!--<div class="posts">-->
  <!--  {% for post in paginator.posts %}-->
  <!--    <div class="post py3">-->
  <!--      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>-->
  <!--      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>-->
  <!--      <p class="post-summary">-->
  <!--        {% if post.summary %}-->
  <!--          {{ post.summary }}-->
  <!--        {% else %}-->
  <!--          {{ post.excerpt }}-->
  <!--        {% endif %}-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  {% endfor %}-->
  <!--</div>-->

  <!--{% include pagination.html %}-->
<!-- </div> -->
