---
layout: default
---


<head>
  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <script src="js/modernizr.custom.js"></script>
</head>
<!-- <div class="home"> -->

    <div id="mainpage">

      <h2>I am an Android Develloper</h2>

      <ul class="grid effect-1" id="grid">
        <li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a>Crédit Agricole</li>
        <li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
        <li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
        <li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
        <li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
        <li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
        <li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
        <li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
        <li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
        <li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
        <li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
        <li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
        <li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
        <li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
        <li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
        <li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
        <li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
        <li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
        <li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
        <li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
        <li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
        <li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
        <li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
        <li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
        <li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
        <li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
        <li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
        <li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
        <li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
        <li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
        <li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
        <li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
        <li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
        <li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
        <li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
        <li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
        <li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
        <li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
        <li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
        <li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
        <li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
        <li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
        <li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
        <li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
        <li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
        <li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
        <li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
        <li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
        <li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
        <li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
        <li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
        <li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
        <li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
        <li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
        <li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
        <li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
        <li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
        <li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
        <li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
        <li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
        <li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
        <li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
        <li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
      </ul>
    </div>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/imagesloaded.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/AnimOnScroll.js"></script>
    <script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
      minDuration : 0.4,
      maxDuration : 0.7,
      viewportFactor : 0.2
    } );
    </script>


  <!--<div class="posts">-->
  <!--  {% for post in paginator.posts %}-->
  <!--    <div class="post py3">-->
  <!--      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>-->
  <!--      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>-->
  <!--      <p class="post-summary">-->
  <!--        {% if post.summary %}-->
  <!--          {{ post.summary }}-->
  <!--        {% else %}-->
  <!--          {{ post.excerpt }}-->
  <!--        {% endif %}-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  {% endfor %}-->
  <!--</div>-->

  <!--{% include pagination.html %}-->
<!-- </div> -->
