---
layout: default
---


<head>
  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <script src="js/modernizr.custom.js"></script>
</head>
<!-- <div class="home"> -->

    <div id="mainpage">

      <h2><img alt="bugdroid" style="margin-bottom: -8px !important;" src="../images/bugdroid.png"> Bienvenue, je suis développeur freelance Android.</h2>
      <h3><a href="mailto:juliengenoud+contact@gmail.com">Contactez-moi</a><h3>
      <!-- <img style="width:350px !important; margin-bottom: -8px" alt="email julien genoud"
        src="../images/adress.png"> -->
      <ul class="grid effect-1" id="grid">


        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/predica.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>Predica</h2>
                  <p>Application d'agence pour le Crédit Agricole</p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/newomatic.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>News O Matic</h2>
                  <p>Mise a jour complète de 6 applications pour press4kids.</p>
                  <p><a href="https://play.google.com/store/apps/developer?id=Press4Kids">Google Play</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/inflight.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>InFlight</h2>
                  <p>Réalisation d’une application android et iOS de correction de trajectoire pour pilotes.</p>
            </div>
          </div>
        </li>
        <!-- <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/tv.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>Tv Concours</h2>
                  <p> </p>
            </div>
          </div>
        </li> -->
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/fabzat.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>Fabzat Plugin</h2>
                  <p>Mise à jour du plugin fabzat, des graphismes, révision et optimisation du code.</p>
                  <p><a href="http://www.fabzat.com/#register">Informations</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/Watch.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>Projet signature</h2>
                  <p>Réalisation complète d’une watchface pour android wear.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/googleglass.jpg" alt="" />
            </div>
            <div class="text-content">
                  <h2>Advice Glass</h2>
                  <p>Projet de manuel pour viticulteurs accessibles sur google glass</p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/bluewave.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>BlueWave</h2>
                  <p>Permettre aux enseignes, musées, collectivités, de communiquer directement à leurs visiteurs avec des iBeacons</p>
                  <p><a href="https://github.com/JulienGenoud/BlueWave-Android">Source Github</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/epiandroid.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>EpiAndroid</h2>
                  <p>Application de l'intranet Epitech, utilisant l'api epitech et utilisant une base de donnée locale</p>
                  <p><a href="https://github.com/LeNiglo/EpiAndroid">Source Github</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/nourriture.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>Nourriture</h2>
                  <p>Application en Material Design, open source</p>
                  <p><a href="https://github.com/BJTUNourriture/NourriturePlus">Source Github</a></p>
            </div>
          </div>
        </li>
        <!-- <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/plugplugplug.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>Plug Plug Plug</h2>
                  <p>I create this app because i always forget to plug my charger after the phone shutdown >< </p>
                  <p><a href="">Google Play Soon</a></p>
            </div>
          </div>
        </li> -->
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/macanaille.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>Macanaille</h2>
                  <p>Application android : appel webservices, notifications, fil de messages, réalisation de code natif...</p>
                  <p><a href="https://play.google.com/store/apps/details?id=app.macanaille.fr">Google Play</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/winewoo.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>WineWoo</h2>
                  <p>Réalistion d'un layout sur l'application android</p>
                  <p><a href="https://play.google.com/store/apps/details?id=biz.kasual.winewoo">Google Play</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/bookme5.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>BookMe5</h2>
                  <p>Application de reservation de service généralisée</p>
                  <p><a href="https://bookme5.com">Site internet</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <div class="hover-img">
                  <img src="images/viik.png" alt="" />
            </div>
            <div class="text-content">
                  <h2>Viik</h2>
                  <p>Réseau social de partage de vidéos.</p>
                  <p><a href="https://viik.co">Site internet</a></p>
            </div>
          </div>
        </li>

      </ul>
    </div>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/imagesloaded.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/AnimOnScroll.js"></script>
    <script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
      minDuration : 0.4,
      maxDuration : 0.7,
      viewportFactor : 0.2
    } );
    </script>


  <!--<div class="posts">-->
  <!--  {% for post in paginator.posts %}-->
  <!--    <div class="post py3">-->
  <!--      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>-->
  <!--      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>-->
  <!--      <p class="post-summary">-->
  <!--        {% if post.summary %}-->
  <!--          {{ post.summary }}-->
  <!--        {% else %}-->
  <!--          {{ post.excerpt }}-->
  <!--        {% endif %}-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  {% endfor %}-->
  <!--</div>-->

  <!--{% include pagination.html %}-->
<!-- </div> -->
